ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logoContainer {
    width: 50%;
}

.logo {
    width: 25%;
}

.container {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {

    .container {
        padding: 5%;
        width: 100%;
    }

    .logo {
        width: 60%;
    }

    li {
        font-size: 0.6em;
    }
}