ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    width: 25%;
}

.container {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
  }