.container {
    padding: var(--padding-x);
}

.title {
    font-size: 1.7rem;
    /* color: var(--color-red); */
    font-weight: 500;
}

.red {
    color: var(--color-red);
}

.white {
    color: white;
}