.carouselContainer {
    position: relative;
    width: 100%;
    margin: calc(var(--padding-x)*2) 0 0 0;
    height: auto;
}

.carouselWrapper {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    padding-left: var(--padding-x);
}

.carouselWrapper.dragging {
    cursor: grabbing;
}

.carouselSlide {
    min-width: 70%;
    scroll-snap-align: start;
    user-select: none;
    transition: opacity 0.3s ease;
}

.carouselImage {
    width: 97%;
    height: 80%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 50px;
}

.carouselIndicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.carouselIndicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    transition: background 0.3s ease;
}

.carouselIndicator.active {
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
    .carouselContainer {
        margin: calc(var(--padding-x)*3) 0 0 0;
    }

    .carouselSlide {
        min-width: 90%;
    }

    .carouselImage {
        width: 97%;
        height: 100%;
        border-radius: 30px;
    }
}