@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --color-red: #FF0000;
  --padding-x: 4vw;
  --padding-x-small: 2vw;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Satoshi', sans-serif;
}

p {
  font-size: 1.5em;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
}

